parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#.* Illuminate\\Container\\Container.*#'
        - '#.* Hyperf\\Utils\\ApplicationContext.*#'
        - '#.* think\\Container.*#'
